<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.JMDistributor.somee.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b3002861-1393-4a47-b569-ec8dbb9a4139</ProjectGuid>
    <publishUrl>ftp://155.254.244.30/www.JMDistributor.somee.com</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath />
    <UserName> JMDistributor</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>FTP</_TargetId>
  </PropertyGroup>
</Project>